/******* COLORS *******
053f73 - dark blue
-6883ba - lighter blue
f9f9f9- basically white
a7a9ac- light grey
ffd700 -  gold 
***/

/******** FONTS ********/
/******** FONTS ********/
/******** FONTS ********/

body,p,div {
   font-family: "Bentham", serif;
}


h1, h2, h3, h4, h5, h6{
    font-family: "Quintessential", serif;
}




